<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366225682521-840p4ihns1pia3vlgv2mfng9b85vbddj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366225682521-840p4ihns1pia3vlgv2mfng9b85vbddj</string>
	<key>API_KEY</key>
	<string>AIzaSyBg5-0NzaMGvZ7qHmdyWUZdUXaVn5Rl3yA</string>
	<key>GCM_SENDER_ID</key>
	<string>366225682521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotmoris.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-797fc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-797fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366225682521:ios:e20b506b052503a0</string>
	<key>DATABASE_URL</key>
	<string>https://instagramapp-797fc.firebaseio.com</string>
</dict>
</plist>